html {
    --navBg: #d4e7ee;
    --color: #29838c;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.nav {
    position: relative;
    width: 100%;
    background: var(--navBg);
    max-width: 1200px; 
    margin: 0 auto;
    display: flex;


}

.nav ul {
    list-style: none;
}

.nav a {
    text-decoration: none;
}

.visible-menu {
    display: flex;
}

.visible-menu a {
    display: block;
    padding: 14px 20px;
    font-size: 18px;
    color: var(--color);
}

.visible-menu a:hover {
    background: var(--color);
    color: var(--white);
}

.burger {
    position: absolute;
    width: 60px;
    height: 100%;
    right: 0;
    padding: 0;
    border: 0;
    outline: none;
    background: var(--color);
    color: var(--white);
    cursor: pointer;
}

.burger svg {
    transition:  0.4s;
}

.burger.active svg {
    transform: rotate(90deg);
}

.burger-count {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 0;
    top: 50%;
    text-align: center;
    background: var(--color);
    color: var(--white);
    font-size: 14px;
    line-height: 22px;
    border: 2px solid var(--white);
    border-radius: 50%;
    font-weight: bold;
    transform: translate(-50% , -50%);

}



.hidden-menu {
    position: fixed;
    right: 0;
    top: 50px;
    min-width: 250px;
    padding: 10px 0;
    background: var(--color);
    transition: 0.4s;
    transform: translateX(100%);
}

.hidden-menu.active {
    transform: translateX(0);
}

.hidden-menu a {
    padding: 10px 10px 10px 20px;
    color: var(--white);
    font-size: 18px;
    display: block;
}

.hidden-menu a:hover {
    background: var(--white);
    color: var(--color);
}

.nav .hidden {
    display: none;
}

.translate {
    background: transparent;
    border: none;
    margin-left: 12px;
    margin-top: 15px;
}
/* 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    



<nav class="nav">
    <ul class="visible-menu">
        <li><a href="#" class="lang" key="about">Главная</a></li>
        <li><a href="#" class="lang" key="about Us"> О нас</a></li>
        <li class="header-item-lang-kg"><button id="en" class="translate"><img src="img/images.jpeg" alt="" width="40px" height="30px" margin-top="8px"></button></li>
        <li class="header-item-lang-ru"><button id="en" class="translate"><img src="img/ru.jpeg" alt="" width="40px" height="30px"margin-top="8px"></button></li>
        <li><a href="#" class="lang" key="Our projects">Наши проекты</a></li>
        <li><a href="#" class="lang" key="Team">Команда</a></li>
        <li><a href="#" class="lang" key="Portfolio">Портфолио</a></li>
        <li><a href="#" class="lang" key="Partners">Партнеры</a></li>
        <li><a href="#" class="lang" key="about">Помощь</a></li>
        <li><a href="#" class="lang" key="about">Подробнее</a></li>
        <li><a href="#" class="lang" key="about">Контакты</a></li>
    </ul>
    
    <button class="burger hidden">
        <svg width="30" height="40">
            <circle cx="15" cy="10" r="2" fill="#fff" />
            <circle cx="15" cy="20" r="2" fill="#fff" />
            <circle cx="15" cy="30" r="2" fill="#fff" />
        </svg>
        <div class="burger-count"></div>
    </button> 
    <ul class="hidden-menu"></ul>
</nav>







    <script src="script.js"></script>
</body>
</html> */
